
<div class="menubar">
  <div class="counter">{{bombsLeft}}</div>
  <button (click)="startGame()">
    {{
      status === 'in-progress' ?
        'RESTART' :
      status === 'you-win' ?
        'WIN! NEW GAME?' :
      status === 'you-lose' ?
        'Lose...NEW GAME?' :
        'START'
    }}
  </button>
  <div class="time">{{gameTime}}</div>
</div>
<table>
  <tr *ngFor="let row of state; index as y">
    <td *ngFor="let cell of row; index as x" (click)="checkCell(y, x)" (contextmenu)="flagCell($event, y, x)">
      {{cell === '_' ? '' : cell}}
    </td>
  </tr>
</table>